@{
    ViewData["Title"] = "About";

    //veja que o ViewData['Message'] foi declarado la no HomeController/About( )

    //essas paginas se chamam Razor

    //nao eh uma boa pratica colocar codigo de programacao nas Views
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
