@model SalesWebMvc.Models.Seller //falamos q a minha view temos a disposicao dela o Seller 

@{ 
    ViewData["Title"] = "Create";

    //O nome da view deve ser igual ao metodo do SellersController
}

<h2>@ViewData["Title"]</h2>
<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--abaixo chamaremos o metodo create, mas do post e nao do get como no index no button
            Create New-->
        <form asp-action="Create">
            <div class="form-group">
                <!--usamos o asp-for para -->
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-default">Create</button>
            </div>
        </form>
    </div>
</div>
