@model SalesWebMvc.Models.ViewModels.SellerFormViewModel //falamos q a minha view temos a disposicao dela o Seller

@using SalesWebMvc.Models;

@{
    ViewData["Title"] = "Edit";

    //O nome da view deve ser igual ao metodo do SellersController
}

<h2>@ViewData["Title"]</h2>
<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--abaixo chamaremos o metodo create, mas do post e nao do get como no index no button
            Create New-->
        <form asp-action="Edit">
            <!--edit no metodo post-->
            <input type="hidden" asp-for="Seller.Id" name="Id" />
            <div class="form-group">
                <!--usamos o asp-for para -->
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" name="Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" name="Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" name="BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" name="BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Seller.Department.Name" class="control-label"></label>
                <!--select list recebe tres argumentos, fonte de dados, qual attr desse objeto vai ser a chave, qual attr vai aparecer na caixinha de selecao-->
                <select name="DepartmentId" asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", "Name"))" class="form-control"></select>

            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>

<!--o js abaixo ira habilitar o lado do cliente para nos mostrarmos os erros possiveis-->
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}